* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #FFF;
    width: 100%;
}

header {
    max-width: 100%;
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 50px;
}

header .menu {
    position: relative;
    width: 20px;
    height: 8px;
    background: none;
    border: none;
}

header .menu::before,
header .menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 10px;
}
header .menu::after {
    top: unset;
    bottom: 0;
}

header .icons {
    display: flex;
    gap: 20px;
    height: 22px;
}

header .icon-parent {
    height: 100%;
    display: block; 
}

header .icon-parent .icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px;
}

.product .details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product .product-image {
    width: 100%;
}

.product form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product form select{
    padding: 10px;
}

.product form button {
    padding: 10px;
    border: none;
    background: #000;
    color: #FFF;
}


.related {
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.related .products {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 30px;
}

.related .products a {
    text-decoration: none;
    color: #000;
}

.related .products .card{
    border: 1px solid ;
    height: min-content;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 20px;
}

.related .products .card img{
    width: 100%;
    z-index: -1;
}

.related .products .card figcaption {
    padding: 0 20px;
}

.related .products .card figcaption a{
    text-decoration: none;
    color: #000;
}
footer {
    padding: 30px;
}

@media (min-width: 600px) {
    .product {
        flex-direction: row;
    }
    .product .product-image {
        width: 60%;
    }
}